.DS_Store
*/.DS_Store

venv/

*.npy
*/*.npy

data/cifar-10-batches-py
data/crc_3_noisy
data/MNIST
data/cifar-10-python.tar.gz

.idea

__pycache__
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__

runs

src/tools/checkpoints